@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #E9F6E9;
        --background-reverse:#0e1512;
        --foreground: 222.2 84% 4.9%;
        
        --card: #DAF1DB;
        --card-foreground: 222.2 84% 4.9%;
        
        --text: #203C25;
        
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        
        --primary: #46a758;
        --primary-hover: #3e9b4f;
        --primary-foreground: 210 40% 98%;
        
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        
        --border: #65BA74;
        --input: 214.3 31.8% 91.4%;
        --ring:  #46a758;
        
        --radius: 0.5rem;
    }
    
    .dark {
        --background: #0e1512;
        --background-reverse:#f5fbf5;
        --foreground: 210 40% 98%;
        
        --card: #1B2A1E;
        --card-foreground: 210 40% 98%;

        --text: #c2f0c2;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: #46a758;
        --primary-hover: #53b365;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: #fff;
        --input: 217.2 32.6% 17.5%;
        --ring:  #fff;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground font-sans;
    }
    select{
        @apply block appearance-none w-full bg-background border border-border focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-2 focus:border-secondary

    }
}
